<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UseXmlDataSource" value="true"/>
    <add key="ExerciseXmlFilePath" value="/App_Data/exercise.xml"/>
    <add key="MembersXmlFilePath" value="/App_Data/members.xml"/>
  </appSettings>
  
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?" />
        <!--Deny all Anonymous (not logged in) users-->
      </authorization>
    </system.web>
  </location>
  <system.web>
    <membership>
      <providers>
        <add name="PersonSQLProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ExerciseConnString" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" applicationName="WorkoutTracker" maxInvalidPasswordAttempts="2147483647"/>
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/admin/index.aspx" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="ExerciseConnString" connectionString="Data Source=QUAYNE\SQLEXPRESS;Database=Exercise;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>